In [1]:
import pandas as pd
import numpy as np
import polars as pl
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [3]:
df = pd.read_csv('FE-GWP1_model_selection_2.csv')
df.describe()

                Y         Z1           Z2          Z3          Z4          Z5
count  100.000000  100.000000  100.000000  100.000000  100.000000  100.000000
mean     0.136306   -0.003689    0.051850    0.028448   -0.883884    0.060124
std      1.279076    0.181027    0.378040    1.010012    1.168457    0.825279
min     -2.563220   -0.417517   -1.058445   -2.369041   -3.215731   -2.057340
25%     -0.655983   -0.107365   -0.178283   -0.634351   -1.659022   -0.486192
50%      0.126874   -0.001481   -0.005581   -0.033190   -0.924659    0.050165
75%      0.850265    0.123037    0.316067    0.766089   -0.275363    0.564128
max      3.768653    0.360024    0.807492    2.923554    2.222441    2.102278